* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 34, 34);
  color: whitesmoke;
}

.key-container {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  padding: 1rem;
  font-size: 6rem;
}

.key-number {
  text-align: center;
  font-weight: 200;
  font-size: 19rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.cards-1 {
  height: 35rem;
  width: 40%;
  background-color: rgb(57, 56, 56);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgb(17, 17, 17);
}

.key-info {
  width: 100%;
  padding: 1rem;
  font-size: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
}

.cards {
  width: 50%;
  margin: 1rem;
  height: 18rem;
  background-color: rgb(57, 56, 56);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgb(17, 17, 17);
  text-align: center;
}

.cards p,
.cards-1 p {
  text-align: center;
  font-size: 2.9rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(44, 44, 44);
  border-radius: 1rem;
  border-bottom: none;
}

.cards div {
  padding: 1rem 1rem 2rem 1rem;
}

.cards:hover {
  transform: scale(1.1);
  transition: ease-in-out 200ms;
}

@media (max-width: 1440px) {
  .key-number p {
    font-size: 2.6rem;
  }

  .key-info {
    flex-wrap: wrap;
  }

  .cards-1 {
    font-size: 15rem;
    height: 30rem;
  }

  .cards {
    width: 40%;
    font-size: 4rem;
    height: 17rem;
  }

  .cards p {
    font-size: 2.6rem;
    padding: 1rem;
  }
}

@media (max-width: 920px) {
  .key-number p {
    font-size: 2.4rem;
  }

  .cards-1 {
    height: 25rem;
    font-size: 12rem;
  }

  .cards {
    width: 40%;
    font-size: 3.1rem;
    height: 15rem;
  }

  .cards p {
    font-size: 2.4rem;
  }
}

@media (max-width: 720px) {
  .key-number {
    font-size: 12rem;
  }

  .cards-1 {
    height: 22rem;
    font-size: 8rem;
  }

  .cards {
    width: 45%;
    font-size: 2.8rem;
    height: 12rem;
  }

  .cards p {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .key-number p {
    font-size: 2rem;
  }
}

@media (max-width: 590px) {
  .key-number {
    margin-top: 3rem;
  }

  .key-info {
    flex-wrap: no-wrap;
  }

  .cards {
    width: 65%;
    height: 10rem;
  }
}
